aniso8601==9.0.1
asttokens
blinker
Bottleneck
certifi==2024.6.2
charset-normalizer==3.3.2
click
comm
contourpy
cycler
debugpy
decorator
executing
Flask
Flask-Cors
Flask-RESTful==0.3.10
fonttools
gunicorn
idna==3.7
ipykernel
ipython
ipywidgets
itsdangerous
jedi
Jinja2
joblib
jupyter_client
jupyter_core
jupyterlab-widgets
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
nest-asyncio
numexpr
numpy==1.26.4
packaging
pandas
parso
pexpect
pillow
platformdirs
ply==3.11
prompt-toolkit
psutil
ptyprocess
pure-eval
Pygments
pyparsing
PyQt5==5.15.10
PyQt5-sip
python-dateutil
pytz
pyzmq
requests==2.32.3
scikit-surprise
scipy
sip
six
stack-data
tornado
traitlets
tzdata
unicodedata2
urllib3==2.2.1
wcwidth
Werkzeug
widgetsnbextension
